*{
    margin: 0;
}
.main{
    position: relative;
    height: 90vh;
    width: 99vw;
    background-color: rgba(0,0,0,0.9);
    border-radius: 0rem 0rem 1rem 1rem;
    display: flex;
}
.photo{
    position: relative;
    width: 25%;
    height: 60%;
    margin-top: 8%;
    margin-right: 6%;
    margin-left: 3%;
    border-radius: 50%;
    transition: 1s ease-in .5s;
    box-shadow: 5px 5px 10px rgba(255, 255, 255,.4);
}

.photo:hover{
    /* border: 2px solid red; */
    box-shadow: 5px 5px 10px yellow;
    opacity: 0.8;
    transform:rotate(7deg) scale(1.1);
}

.photo img {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.description{
    position: relative;
    margin-top: 3%;
    width: 50vw;
    height: 80vh;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.description  h1{
    color: white;
    font-size: 4rem;
}
.description  p{
    color: whitesmoke;
    font-size: 2rem;
} 




#skills{
    position: relative;
    height: 150vh;
    width: 99vw;
    border: 2px solid black;
    border-radius: 1rem;
    display: flex;
    /* display: grid; */
    flex-wrap: wrap;
    background-color: rgba(0,0,0,0.3);
    justify-content: space-evenly;
}

.skill {
    height: 12rem;
    width: 11rem;
    margin: 1.5rem;
    margin-right: 2rem;
    padding: 1rem;
    padding-left: 1rem;
    transition: 1s .2s;
      /* border: 1px solid red; */
}
.skill div i{
    opacity: .7;
    transition: 1s ease-in;
}

.skill div i:hover{
    opacity: 1;
    cursor: pointer;
    transform: scale(1.3);
}

.skill div img{
    opacity: .7;
    height: 10rem;
    width: 9rem;
    transition: 1s ease-in;
    
}

.skill div img:hover{
    opacity: 1;
    cursor: pointer;
    transition: 1s .2s;
    transform: scale(1.3);
}

.skill-name {
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}

.skill-heading{
    height: 15vh;
    width: 100vw;
    /* border: 2px dotted red; */
    /* background-color: rgb(107, 107, 182); */
    /* color: whitesmoke; */
}

/* project */


.project-title{
    height: 15vh;
    width: 99vw;
    /* border: 2px solid blue; */
   text-align: center;
   font-family: 'Times New Roman', Times, serif;
   margin-top: 1.5rem;
   font-weight:700;
   font-size: 3rem;
}

.project{
    /* position: relative; */
    height: 60vh;
    width: 100vw;
    /* border: 2px solid gold; */
    display: inline-block;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card{
    transition: 1s ease-in;
    box-shadow: 5px 5px 10px rgba(1,1,1,.2);
}
.card:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 10px rgba(0,0,0,.6);
}

/* major project */

.major-project{
    position: relative;
    width: 100vw;
    height: 100vh;
    /* border: 2px solid red; */
    
}

.card-image{
    transition: 1s ease-in;
    box-shadow: 5px 5px 10px rgba(1,1,1,.2);
}

.card-image:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 10px rgba(0,0,0,.6);
}

/* social-media */
.social-media{
    /* border: 2px solid red; */
    height: 50vh;
    width: 100vw;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    /* background-color: rgba(0,0,0,0.3); */
    justify-content: space-evenly;

}

.social-media-skill{
    height: 12rem;
    width: 11rem;
    margin: 1.5rem;
    margin-right: 2rem;
    padding: 1rem;
    padding-left: 1rem;
}

